@media screen and (max-width: 1300px){
	.about {
		height: 500px;
		display: block;
	}
	.about{
		padding: 80px 0;
	}

}


@media screen and (max-width: 1000px) {	
	.about {
		height: 450px;
		display: block;
	}

	.about1{
		position: static;
		margin: 0 auto;
		text-align: center;
	}
	
	.portfolio{
		width: 100%;
	}
	.header img{
		padding-top: 10px;
	}
	.imga img{
		display: none;
	}
}


@media screen and (max-width: 870px){
	.contact{
		background-size: 330%;
	}
	.header1 h1{
		padding-left: 100px;
	}

}


@media screen and (max-width: 728px){
	.portfolio{
		height: 760px;
	}
	.header1 h1{
		color: #fff;
	}
}


@media screen and (max-width: 700px){	
	.header{
		-webkit-background-size: 1000px;
		     -o-background-size: 1000px;
		        background-size: 1000px;
	}

	.header{
		height: 415px;
	}
	#menu{
		display: none;
	}
	.brand {
		display: block;	
	}
	
	.header1 h1{
		padding-top: 140px;
		font-size: 70px;
	}
}


@media screen and (max-width: 640px){
	.header1 h1{
		font-size: 60px;
	}
}


@media screen and (max-width: 503px){
	.portfolio .hover-box {
   		width: 180px;
    	height: 160px;
	}
	.portfolio {
    	height: 640px;
	}
	.header1 h1{
		margin: 0 auto;
    	width: 326px;
    	padding-left: 0;
	}
}


@media screen and (max-width: 420px){
	.contact p{
		font-size: 12px;
	}
	.gmail i {
		width: 20px;
		height: 20px;
		margin-top: 15px;
		line-height: 18px;
	}
	.gmail a {
		font-size: 13px;
		line-height: 15px;
	}
	.gmail .fa{
		font-size: 11px;
		width: 17px;
    	height: 17px;
	}
	.contact{
		height: 400px;
	}
	.about {
    	height: 500px;
	}
	.header1 h1{
		font-size: 50px;
		width: 280px;
	}

}


@media screen and (max-width: 383px){
	.portfolio .hover-box{
		width: 130px;
		height: 100px;
	}
	.portfolio {
    	height: 440px;
	}
	.about {
    	height: 540px;
	}

}

@media screen and (max-width: 344px){
	.about {
    	height: 590px;
    	padding: 25px 0px 70px;
    }
}

@media screen and (max-width: 335px){
	.about{
		height: 610px;
		padding: 40px 0;
	}
	.header img {
    	width: 145px;
   	 	padding-top: 10px;
   	}
	.about1 p{
		font-size: 18px;
	}
}
@media screen and (max-width: 320px){
	.header1 h1{
		font-size: 38px;
	}
}

@media screen and (max-width: 295px){
	.header1 h1 {
    	width: 250px;
	}
	.about1{
		padding: 0px 20px 13px;
		margin: 0;
	}
}

@media screen and (max-width: 285px){
	.portfolio .hover-box{
		width: 100px;
		height: 80px;
	}
	.portfolio {
    	height: 360px;
	}
	.about {
    	height: 660px;
    }
}




@media screen and (min-width: 701px){
	.header{
		-webkit-background-size: 1600px;
		     -o-background-size: 1600px;
		        background-size: 1600px;
	}

	.btn-menu{
		display: none;
	}
	.menu {
		height: 0;
	}
	.menu ul li{
		display: none;
	}

}


