*{
	text-decoration: none;
	list-style: none;
}
body{
	background-size: cover;
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}
.container{
	max-width: 75%;
	margin: 0 auto;
}
.header{
	background: url(../img/bg1.jpeg)100% 0% no-repeat;
	max-width: 100%;
	height: 665px;
}
.header1{
	max-width: 500px;
}
.header1 h1{
	color: #619fb4;
	font-family: 'LibreBaskerville Bold';
	font-size: 80px;
	margin: 0;
	padding-top: 250px;
	padding-left: 200px;
}
.header img{
	position: relative;
	display: block;
	padding-top: 6px;
}
.brand{
	float: left;
    margin-left: 8%;
    margin-top: 1%;
}


.btn-menu{
	display: block;
	float: right;
	width: 75px;
    height: 75px;
	position: relative;
	z-index: 12;
	position: fixed;
	right: 10px;
}
.btn-menu span{
	width: 38px;
    height: 3px;
	background: #fff;
	position: absolute;
	margin-left: -9px;
	top: 50%;
	left: 44%;
	transition: .3s;
}
.btn-menu span::before, .btn-menu span::after{
	content: "";
	width: 38px;
    height: 3px;
	background: #fff;
	position: absolute;
	left: 0;
}
.btn-menu span::before{
	top: -8px;
	transition: .3s;
}
.btn-menu span::after{
	bottom: -8px;
	transition: .3s;
}

.btn-menu.toggle span{
	background: transparent;
}
.btn-menu.toggle span:before{
	top: 0;
	transform: rotate(45deg);
}
.btn-menu.toggle span:after{
	top: 0;
	transform: rotate(-45deg);
}



.menu{
	display: none;
	position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 75px;
    z-index: 11;
    position: fixed;
    background: #629fb7;
}
.menu ul{
	padding: 0;
	margin: 0;
}
.menu ul li{
	list-style: none;
	
}
.menu ul li a{
	color: #FFF;
	padding: 15px 10px;
	display: block;
	text-decoration: none;
}
.menu ul li a:hover{
	color: #dae2eb;
}


.top-nav{
	width: 100%;
    height: 75px;
    background: rgba(58, 68, 125, 0.3);
    position: fixed;
    z-index: 10;
    top: 0;
	-webkit-box-shadow: 0px -1px 25px 0px rgba(58,68,125,1);
	-moz-box-shadow: 0px -1px 25px 0px rgba(58,68,125,1);
	box-shadow: 0px -1px 25px 0px rgba(58,68,125,1);

}
nav.black{
	background: #619fb4;
}
nav #menu{
	float: right;
	right: 8%;
	position: relative;
}
nav #menu li{
	display: inline-block;
	position: fixed;
    padding: 0 10px;
   	line-height: 45px;
    position: relative;
    transition: all 0.3s ease-out;
}
nav #menu li a{
	color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}
nav #menu li a::before{
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	height: 2px;
	width: 0;
	background: #e063e8;
	transition: .3s;
}
nav #menu li a::after{
	position: absolute;
	content: '';
	top: 100%;
	right: 0;
	height: 2px;
	width: 0;
	background: #4724cc;
	transition: .3s;
}
nav #menu li a:hover::before{
	transform: translateX(100%);
	width: 50%;
	transition: .3s;
}
nav #menu li a:hover::after{
	transform: translateX(-100%);
	width: 50%;
	transition: .3s;
}
nav #menu li a:hover{
	color: #68cef8;	
}
nav #menu li a:focus{
	text-decoration: none;
}


.about{
	background: #dee6ef;
	position: relative;
	padding: 100px 0 150px;
}
.about img{
	border: 4px solid #d5d5d7;
	max-width: 100%;
}
.about1{
	position: absolute;
    top: 130px;
    right: 260px;
    max-width: 470px;
    padding: 0px 30px 15px 50px;
    float: right;
    background: rgba(255,255,255,0.9);
    border-bottom: 4px solid #d5d5d7;
 -webkit-box-shadow: 3px 0px 29px -2px rgba(255,255,255,1);
-moz-box-shadow: 3px 0px 29px -2px rgba(255,255,255,1);
box-shadow: 3px 0px 29px -2px rgba(255,255,255,1);
}
.about1 h2{
	font-family: 'LibreBaskerville Bold';
	font-size: 36px;
	color: #000;
	margin-bottom: 10px;
}
.about1 p{
	line-height: 23px;
	font-size: 20px;
	color: #6f6f6f;
	margin-top: 10px;
	font-family: Monotype Corsiva;
}
.about1 b{
	color: #000;
	font-size: 22px;
	font-family: Monotype Corsiva;
}


.portfolio{
	background: url(../img/www.jpeg)100% 0% no-repeat;
	position: relative;
	padding-bottom: 100px;
}
.portfolio1{
	max-width: 770px;
	margin: 0 auto;
	text-align: center;
}
.portfolio h2{
	text-align: center;
	color: #000;
	font-family: 'LibreBaskerville Bold';
	font-size: 36px;
	padding: 50px 0px 50px;
	margin: 0;
}
.portfolio .hover-box{
	display: inline-block;
	position: relative;
	list-style: none;
	width: 240px;
	height: 220px;
	overflow: hidden;
}
.portfolio .hover-box img{
	width: 100%;
	transition: .5s;
	opacity: 1;
	z-index: 1;
}
.hover-box i{
	position: absolute;
	top: 44%;
    left: 41%;
    font-size: 50px;
    color: #fff;
    opacity: 0;
    z-index: 3;
    transition: .6s;
}
.hover-box a:before,
.hover-box a:after{
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	transition: .6s;
	mix-blend-mode: darken;
}
.hover-box a:before{
	right: 0;
	bottom: -100%;
	background: rgba(86,7,80,0.8);
	transform: skew(-45deg) translateX(100%); 
}
.hover-box a:after{
	left: 0;
	top: -100%;
	background: rgba(41,54,152,0.8);
	transform: skew(135deg) translateX(-100%); 
}
.hover-box:hover a:before{
	transform: skew(-45deg) translateX(0%); ;
}

.hover-box:hover a:after{
	transform: skew(135deg) translateX(0%); ;
}

.hover-box:hover i{
	opacity: 1;
}


.contact{
	background: #282d4e;
	height: 500px;
	padding-bottom: 70px;
	background-size: 100%; 
}
.contact h2{
	text-align: center;
	color: #fff;
	font-family: 'LibreBaskerville Bold';
	font-size: 36px;
	padding: 50px 0px;
	margin: 0;
}
.contact p{
	border: 2px solid rgba(255,255,255,.3);
    border-radius: 3px;
    padding: 10px 0px;
    color: #fff;
    margin: 15px 24px;
}
.gmail{
	background: #303763;
	border-radius: 15px;
	max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gmail a{
	color: #fff;
    font-size: 27px; 
}
.gmail i{
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 65px;
    transition: .3s;
}
.gmail i:hover{
	color: #68cef8;
	border-color: #68cef8;
	-webkit-box-shadow: 0px 0px 109px -10px rgba(104,206,248,1);
	-moz-box-shadow: 0px 0px 109px -10px rgba(104,206,248,1);
	box-shadow: 0px 0px 109px -10px rgba(104,206,248,1);
}
.fa.fa-envelope{
	font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 1.8;
    margin: 0 5px 0;
    border: none;
}
.fa.fa-whatsapp{
	font-size: 17px;
    width: 25px;
    height: 25px;
    line-height: 1.4;
    margin: 0 5px 0;
    border: none;
}
.fa.fa-skype{
	font-size: 17px;
    width: 25px;
    height: 25px;
    line-height: 1.4;
    margin: 0 5px 0;
    border: none;
}


